<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/poll.css">
    <script src="../src/js/pop-up.js"></script>
    <script src="../src/js/chart.js"></script>
    <script src="../src/js/poll.js" defer></script>
    <script src="../src/js/base.js" defer></script>

    <!--Meta-->
    <title>POLLX: <%= title %></title>
    <meta name="description" content="Vote on <%= title %>! &ndash; <%= description %>">
    <meta property="og:title" content="POLLX: <%= title %>">
    <meta property="og:description" content="Vote on <%= title %>! &ndash; <%= description %>">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Pollx">
    <% if (url) { %>
        <meta property="og:image" content="<%= url %>logo.svg">
    <% } %>

    <!-- Mainfest -->
    <link rel="manifest" href="/manifest.json">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <script>
        // Getting id and urlPrefix passed through
        const id = <%= id %>;
        const urlPrefix = '<%= urlPrefix %>';
    </script>
</head>

<body>
    <%- include('modules/header'); %>

    <main>
        <div class="spinner-container" id="spinner-container">
            <div class="lds-dual-ring" id="spinner"></div>
            <p class="spinner-text" id="spinner-text">Loading...</p>
        </div>
        <div class="msg-container" id="msg-container"></div>
        <div class="content" id="content">
            <div class="poll-and-result-container">
                <div class="poll">
                    <h1 class="pollx title" id="poll-title">
                        <%= title %>
                    </h1>
                    <p class="description" id="poll-description">
                        <%= description %>
                    </p>
                    <% answers.forEach( (option, i) => { %>
                        <div class="option">
                            <input type="radio" name="option" id="option<%= i %>" class="input-option">
                            <span class="checkmark"></span>
                            <label for="option<%= i %>"><%= option %></label>
                        </div>
                    <% }); %>
                    <button id="vote-btn" onclick="poll.vote()">
                        Vote
                    </button>
                </div>

                <div class="result" id="result">
                    <figure>
                        <figcaption class="pollx">Results</figcaption>
                        <div class="charts">
                            <div id="bar-chart-container"></div>
                            <div class="chart-description">
                                <% answers.forEach( (option, i) => { %>
                                    <p class="description-p"><span class="color color<%= i; %>"></span>&nbsp;<%= option; %>:&nbsp;</p>
                                <% }); %>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>

            <hr>

            <div>
                <h3 class="pollx">Some polls you can vote on:</h3>
                <div class="polls-preview" id="polls-preview">
                    <div class="spinner-container" id="preview-spinner-container">
                        <div class="lds-dual-ring" id="preview-spinner"></div>
                        <p class="spinner-text">Loading...</p>
                    </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>

    <%- include('modules/footer'); %>
</body>

</html>
