<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= urlPrefix %>src/css/search.css">
    
    <!--Meta-->
    <% if (locals.title) { %> 
        <title>POLLX: Search for <%= title %></title>
        <meta name="description" content="Results for <%= title %>">
        <meta property="og:title" content="POLLX: Search for <%= title %>">
        <meta property="og:description" content="Results for <%= title %>">
    <% } else { %> 
        <title>POLLX: Search</title>
        <meta name="description" content="Search for polls">
        <meta property="og:title" content="POLLX: Search">
        <meta property="og:description" content="Search for polls">
    <% } %> 
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Pollx">
    <% if (locals.url) { %>
        <meta property="og:image" content="<%= url %>logo.svg">
    <% } %>

    <!-- Mainfest -->
    <link rel="manifest" href="/manifest.json">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>

<body>
    <%- include('modules/header') %>

    <main>
        <div class="content">
            <div>
                <h1 class="pollx">Search:</h1>
                <form action="/search" method="get" id="search-form">
                    <% if (locals.title) { %> 
                        <input type="text" name="q" id="q" placeholder="Find poll" value="<%= title %>">
                    <% } else { %> 
                        <input type="text" name="q" id="q" placeholder="Find poll" value="">
                    <% } %>
                    <button type="submit" id="search-button"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <% if (locals.result) { %>
                <div class="search-results">
                    <% result.forEach(resultItem => { %> 
                        <a href="/poll/<%= resultItem.id %>" class="search-result-item">
                            <p class="search-ressult-item-heading pollx"><%= resultItem.title %></p>
                            <p class="search-ressult-item-description"><%= resultItem.description %></p>
                        </a>
                    <% }) %> 
                </div>
            <% } %>
        </div>

    </main>

    <%- include('modules/footer') %>
</body>

</html>
